<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="./css/index.css" rel="stylesheet"></head>
<style></style>
<body>
	<div id="root">{{{ssrContent}}}</div>

	<script type="text/javascript" src="js/manifest.js"></script>
	<script type="text/javascript" src="js/vendor.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
